<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles/startseite-style.css">
    <title>Hier befindet man sich auf der Startseite!</title>
  </head>
  <body>

<header>
  <div class="obersteLeiste">
    <div class="logo">
      <img src="images/cheersLogo.png" alt="Cheers-Logo">
    </div>
    <div class="titelUntertitel">
      <h1>Cheers</h1>
      <h2>Tennisbar Andrian</h2>
    </div>
    <nav>
      <a href="#">Startseite</a>
      <a href="#">Bar</a>
      <a href="#">Tennisplatz</a>
      <a href="#">Über uns</a>
    </nav>
  </div>
</header>
<main></main>
<footer></footer>

  </body>
</html>
