*,body {
  margin: 0;
  padding: 0;
}
html {
  font-family: "helvetica neue", sans-serif;
}
body {
  background-color: rgba(28,143,156,0.5);
  margin: 0;
  padding: 0;
}
main {
  background-color: white;
  margin: 15px 150px;
  padding: 20px 100px;
  -webkit-filter: drop-shadow(10px 5px 3px rgba(0,0,0,0.7));
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
}
.container {
  display: flex;
  flex-direction: column;
  height: auto;
}
.info-container {
  display: flex;
  flex-direction: row;
  height: 250px;
}
.beschreibung {

}
.beschreibung h1 {
  font-size: 50px;
  color: rgba(230,166,63,0.8) /*rgba(20,148,157,0.8)*/;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.2));
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.2));
}
.beschreibung p {
  color: rgba(32,42,44,0.8);
  font-size: 20px;
  line-height: 30px;
}
.bild {
  width: 50vw;
}
@media screen and (max-width: 1300px) {
  main {
    margin: 15px 25px;
    padding: 20px 100px;
  }
}
@media screen and (max-width: 850px) {
  main {
    margin: 15px 25px;
    padding: 10px 50px;
  }
}
@media screen and (max-width: 620px) {
  main {
    margin: 15px 25px;
    padding: 20px 30px;
  }
}
@media screen and (max-width: 520px) {
  main {
    margin: 15px 15px;
    padding: 20px 20px;
  }
}
@media screen and (max-width: 440px) {
  main {
    margin: 10px 10px;
    padding: 20px 20px;
  }
}
