.container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  margin: 20px 0px;
}
.container < .item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 280px;
}
.item.l{
  min-height: 280px;
  height: auto;
  /*background-color: #f1f1f1;*/
  padding: 10px;
  margin: 10px;
}
.tm-description-figure {
  width: 75%;
  height: auto;
}
.tm-description-figure .img-fluid {
  min-width: 300px;
  height: auto;
  border-radius: 2%;
}
.item.r{
  height: auto;
  padding: 10px;
  margin: 10px;
  flex: 65%;
}
.tm-description-box {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: column;

}
.tm-description-box .tm-gallery-title {
  font-size: 45px;
  color: rgba(230,166,63,0.8) /*rgba(20,148,157,0.8)*/;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.2));
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.2));
}
.tm-description-box .tm-mb-45 {
  margin: 20px 0px;
  color: rgba(32,42,44,0.8);
  font-size: 20px;
  line-height: 30px;
}
.tm-btn {
  background-color: #1c8f9c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.7));
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.5));
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
}
.tm-btn:hover {
  background-color: white;
  color: #1c8f9c;
}
.tm-right {
  align-self: flex-end;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 20px 0px;
}
.flex-item {
  padding: 20px;
  margin: 10px;
  width: 50%;
  border: 1px solid rgb(220,220,220);
  border-radius: 2%;
}
.tm-gallery-item {
  width: 100%;
}
.tm-gallery-img {
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  border-radius: 2%;
}
.tm-gallery-title {
  font-size: 1.3rem;
  font-weight: 400;
  color: #1A6692;
  margin-bottom: 15px;
}
.tm-gallery-description {
  margin-bottom: 10px;
  font-size: 0.95rem;
  text-align: inherit;
}
