body {
  margin 0;
  padding: 0;
  height: auto;
}
header {
  margin: 0px 50px;
}
header img, a {
  margin: 10px 0px;
  width: 50px;
  height: 50px;
}
header h1 {
  margin: 0px 0px 0px 120px;
  padding: 0px 20px;
  font-size: 80px;
}

/* main */
main {
  border: 1.5px solid rgb(200, 200, 200);
  margin: 100px 200px;
}
.head-container {
  display: flex;
  border: 1.5px solid rgb(200, 200, 200);
  margin: 50px;
}
.b-img img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin: 20px;
}
.head-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user {
  margin: 10px 0px;
  font-size: 25px;
}
.date-time {

}
.body-container {
  display: flex;
  flex-direction: column;
  border: 1.5px solid rgb(200, 200, 200);
  margin: 50px;
}
.bewertung-checkbox {
  margin: 20px 20px;
}
.text {
  margin: 10px 20px;
}
main .button {
  display: flex;
  justify-content: flex-end;
  padding: 0px 50px 20px 0px;
}
.button [type="submit"]{
  width: 150px;
  height: 40px;
}
