main {
  height: 700px;
}
.container {
  display: flex;
  height: auto;
  margin-top: 50px;
}
.container > div{
  width: 50%;
}
.container-img {
  width: 100%;
  margin: 50px 0px 0px 100px;
}
.container-img img {
  width: 70%;
  height: auto;
  border-radius: 20px;
}
.container-text {
  margin: 50px 100px 0px 0px;
}
.container-text h1, p{
  color: white;
}
.container-text a {
  background-color: #1c8f9c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.container-text a:hover{
  background-color: white;
  color: #1c8f9c;
}
