body {
  margin: 0px;
  padding: 0px;
}
header {
  margin: 0px 0px 0px 0px;
  background-color: rgb(25, 25, 25);
  width: 100%;
  height: 800px;
}
  .obersteLeiste {
  width: 100%;
  margin: 0px 0px 0px 0px;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100px;
  position: fixed;
}
.logo {
  float: left;
  margin: 0px 0px 0px 0px;
  width: 116px;
  height: 100px;
}
.logo img {
  width: 116px;
  height: 100px;
}
  .titelUntertitel {
  float: left;
  color: white;
}
  .titelUntertitel h1, h2{
  margin: 5px 0px 0px 10px;
}
  .titelUntertitel h2{
  font-size: 15px;
}
nav {
  float: right;
  margin: 40px 150px 0px 0px;
}
nav a{
  text-decoration: none;
  color: white;
  margin: 0px 20px 0px 0px;
}


/* main abschnitt */
main {
  height: 5000px;
}
/* abschnitt1 */
.abschnitt1 {
  height: 200px;
}
.abschnitt1 h1{
  float: left;
  margin: 50px 0px 0px 50px;
}
.suchleiste {
  float: right;
  margin: 50px 100px 0px 0px;
}
.suchleiste input {
  width: 350px;
  height: 30px;
  margin: 0px 50px 0px 0px;
  border: 0.5px solid black;
  border-radius: 15px;
}
.suchleiste button {
  width: 120px;
  height: 30px;
  border-radius: 5px;
}
/* abschnitt2 */
#ko {
  margin: 0px 0px 0px 200px;
  height: 300px;
}
.info {
  width: 400px;
}
.tab {
  width: 400px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.tab button {
  width: 200px;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ccc;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.map {
  position: absolute;
  left: 200px;
  height: 300px;
  width: 1000px;
}
/* abschnitt3 */
