header {
  background-image: url("../images/tennisbar_vonAussen.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
}
header .headertext {
  position: relative;
  top: 40%;
  text-align: center;
  height: auto;
}
.headertext h1 {
  margin: 0px;
  font-size: 180px;
  color: white;
  line-height: 1.5;
}
@media screen and (max-width: 800px) {
  .headertext h1 {
    font-size: 140px;
  }
}
@media screen and (max-width: 520px) {
  header {
    height: 50vh;
  }
  header .headertext {
    top: 30%;
  }
  .headertext h1 {
    font-size: 150px;
  }
}
