/* main */
main {
  float: left;
  width: 74%;
  height: 800px;
  background: linear-gradient(rgb(250;250;250), rgb(240;240;240));
  font-family: sans-serif;
  border-right: 1px solid rgb(200, 200, 200);;
}
main h1 {
  color: #ffffff;
  font-size: 5rem;
  margin: 50px 0px 0px 100px;
}
.container {
  margin: 50px 100px;
  display: flex;
  justify-content: center;
  height: auto;
}
.flex-container div:nth-child(1) {
  background-color: #f1f1f1;
  width: 50%;
  margin: 10px;
  font-size: 30px;
  border-radius: 25px;
}
.flex-container div:nth-child(2) {
  width: 25%;
  height: 50%;
  margin: 10px;
  font-size: 30px;
  border-radius: 25px;
}
.container *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.weather-info, .weather-icon{
  background-color: #6b778d;
  width: 50%;
  height: auto;
  display: block;
  box-shadow: 10px 10px 20px 10px rgba(112, 102, 102, 0.2);
}
.weather-icon {
  text-align: center;
  border-radius: 20px 0px 0px 20px;
}
.weather-icon img {
  padding: 20px 0px 0px 0px;
  width: 75%;
  height: auto;
}
.weather-icon h1 {
  margin: 0px 0px 50px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  color: #ffffff;
}
.weather-info {
  border-radius: 0px 20px 20px 0px;
}
.weather-info .temp {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0px 0px 0px;
}
.temp #temp-h {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: #ffffff;
}
.temp #temp-unit {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: #ffffff;
}
.temp #temp-value {
  font-family: 'Lato', sans-serif;
  font-size: 6.5rem;
  color: #ffffff;
}
.weather-info .extra-info {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.extra-info .wind, .humidity{
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
  margin: 5px;
}
