/* main */
main {
  height: auto;
  background-color: white;
  margin: 15px 50px;
  padding: 20px 0px;
  -webkit-filter: drop-shadow(10px 5px 3px rgba(0,0,0,0.7));
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
}
.title h1{
  padding: 20px 100px;
  font-weight: 400;
	font-size: 38px;
	color: rgba(230,166,63,0.8) /*rgba(20,148,157,0.8)*/;
	text-transform: uppercase;
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 20px;
  font-family: 'Autour One',sans-serif;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.2));
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.2));
}
.title h1::after{
  position: absolute;
	content: "";
	background: rgba(20,148,157,0.8);
	height: 2px;
	width: 70px;
	bottom: 0;
	margin-left: -35px;
	left: 130px;
}

.container {
  margin: 50px 100px;
  display: flex;
  justify-content: center;
  height: auto;
}
.container *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.weather-info, .weather-icon{
  background-color: #6b778d;
  width: 50%;
  height: auto;
  display: block;
  box-shadow: 10px 10px 20px 10px rgba(112, 102, 102, 0.2);
}
.weather-icon {
  text-align: center;
  border-radius: 20px 0px 0px 20px;
}
.weather-icon img {
  padding: 20px 0px 0px 0px;
  width: 50%;
  height: auto;
}
.weather-icon h1 {
  margin: 0px 0px 50px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  color: #ffffff;
}
.weather-info {
  border-radius: 0px 20px 20px 0px;
}
.weather-info .temp {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0px 0px 0px;
}
.temp #temp-unit {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  color: #ffffff;
}
.temp #temp-des {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #ffffff;
}
.temp #temp-value {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  color: #ffffff;
}
.temp #temp-value-min, .temp #temp-value-max {
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  color: #ffffff;
}
.temp span:nth-child(4){
  margin-left: 50px;
}
.weather-info .extra-info {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.extra-info .wind, .humidity{
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
  margin: 5px;
}
@media screen and (max-width: 375px) {
  header .headertext {
    position: relative;
    top: 40%;
    text-align: center;
    height: auto;
  }
  .headertext h1 {
    margin: 0px;
    font-size: 80px;
  }
  main {
    margin: 10px 10px;
    padding: 20px 20px;
  }
  .title h1{
    font-size: 35px;
    padding: 20px 0px;
  }
  .title h1::after{
    position: absolute;
  	content: "";
  	background: rgba(20,148,157,0.8);
  	height: 2px;
  	width: 70px;
  	bottom: 0;
  	margin-left: -35px;
  	left: 40px;
  }
  .container {
    margin: 50px 0px;
    flex-direction: column;
  }
  .weather-info, .weather-icon{
    width: 100%;
  }
  .weather-icon {
    border-radius: 20px 20px 0px 0px;
  }
  .weather-icon h1 {
    margin: 0px 0px 50px 0px;
    font-size: 2.5rem;
  }
  .weather-info .temp {
    padding: 20px 0px 20px 0px;
  }
  .temp #temp-unit {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #ffffff;
  }
  .temp #temp-des {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #ffffff;
  }
  .temp #temp-value {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    color: #ffffff;
  }
  .temp #temp-value-min, .temp #temp-value-max {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    color: #ffffff;
  }
  .temp span:nth-child(4){
    margin-left: 10px;
  }
  .weather-info {
    padding: 0px 0px;
    border-radius: 0px 0px 20px 20px;
  }
  .weather-info .extra-info {
    flex-direction: column;
  }
  .extra-info .wind, .humidity{
    font-size: 1.2rem;
    margin: 5px;
  }
}
@media (min-width: 376px) and (max-width: 991px) {
  main {
    margin: 10px 10px;
    padding: 20px 20px;
  }
  .title h1{
    font-size: 35px;
    padding: 20px 0px;
  }
  .title h1::after{
  	margin-left: -35px;
  	left: 35px;
  }
  .container {
    margin: 50px 0px;
    flex-direction: column;
  }
  .weather-info, .weather-icon{
    width: 100%;
  }
  .weather-icon {
    border-radius: 20px 20px 0px 0px;
  }
  .weather-icon h1 {
    margin: 0px 0px 50px 0px;
    font-size: 2.5rem;
  }
  .weather-info {
    padding: 20px 0px;
    border-radius: 0px 0px 20px 20px;
  }
  .weather-info .temp {
    flex-direction: column;
    padding: 0px;
    margin-bottom: 20px;
  }
  .temp #temp-unit {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #ffffff;
  }
  .temp #temp-des {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #ffffff;
  }
  .temp #temp-value {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: #ffffff;
  }
  .temp #temp-value-min, .temp #temp-value-max {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    color: #ffffff;
  }
  .temp span:nth-child(4){
    margin-left: 20px;
  }
  .weather-info .extra-info {
    flex-direction: column;
  }
  .extra-info .wind, .humidity{
    font-size: 1.2rem;
    margin: 5px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  main {
    margin: 10px 20px;
    padding: 20px 20px;
  }
  .title h1{
    font-size: 35px;
    padding: 20px 0px;
  }
  .container {
    margin: 50px 0px;
    flex-direction: row;
  }
  .weather-info, .weather-icon{
    width: 100%;
  }
  .weather-icon {
    border-radius: 20px 0px 0px 20px;
  }
  .weather-icon h1 {
    margin: 0px 0px 50px 0px;
    font-size: 2.5rem;
  }
  .weather-info {
    padding: 20px 0px;
    border-radius: 0px 20px 20px 0px;
  }
  .weather-info .temp {
    flex-direction: column;
    padding: 0px;
  }
  .weather-info .extra-info {
    flex-direction: column;
  }
  .extra-info .wind, .humidity{
    font-size: 1.2rem;
    margin: 5px;
  }
}
