header {
  background-image: url("../images/barHinten3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  background-color: white;
  margin: 15px 50px;
  padding: 20px 100px;
  -webkit-filter: drop-shadow(10px 5px 3px rgba(0,0,0,0.7));
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
}
.quotation {
  padding: 50px 20px;
  text-align: center;
}
.quotation cite{
  font-weight: 400;
	font-size: 38px;
	color: rgba(230,166,63,0.8) /*rgba(20,148,157,0.8)*/;
	text-transform: uppercase;
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 20px;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.2));
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.2));
}
.firstParagraph, .secondParagraph, .closing {
  padding: 20px 150px;
  color: rgba(32,42,44,0.8);
  font-size: 20px;
  font-family: 'Autour One', sans-serif;
  line-height: 30px;
  text-align: justify;
}
.picture {
  padding: 20px 50px;
}
.picture img {
  width: 100%;
  height: 250px;
  -webkit-filter: drop-shadow(0.5px 0.5px 0.5px rgba(0,0,0,0.7));
  filter: drop-shadow(0.5px 0.5px 0.5px rgba(0,0,0,0.5));
}
@media screen and (max-width: 1200px) {
  header .headertext {
    position: relative;
    top: 40%;
    text-align: center;
    height: auto;
  }
  .headertext h1 {
    margin: 0px;
    font-size: 80px;
  }
  main {
    margin: 10px 10px;
    padding: 20px 20px;
  }
  .quotation {
    padding: 50px 20px;
    text-align: center;
  }
  .quotation cite{
    font-size: 28px;
  }
  .firstParagraph, .secondParagraph, .closing {
    padding: 20px 50px;
  }
  .picture {
    padding: 20px 0px;
  }
  .picture img {
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 800px) {
  header .headertext {
    position: relative;
    top: 40%;
    text-align: center;
    height: auto;
  }
  .headertext h1 {
    margin: 0px;
    font-size: 80px;
  }
  main {
    margin: 10px 10px;
    padding: 20px 20px;
  }
  .quotation {
    padding: 50px 20px;
    text-align: center;
  }
  .quotation cite{
    font-size: 28px;
  }
  .firstParagraph, .secondParagraph, .closing {
    padding: 20px 20px;
  }
  .picture {
    padding: 20px 0px;
  }
  .picture img {
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 440px) {
  header .headertext {
    position: relative;
    top: 40%;
    text-align: center;
    height: auto;
  }
  .headertext h1 {
    margin: 0px;
    font-size: 80px;
  }
  main {
    margin: 10px 10px;
    padding: 20px 20px;
  }
  .quotation {
    padding: 50px 20px;
    text-align: center;
  }
  .quotation cite{
    font-size: 28px;
  }
  .firstParagraph, .secondParagraph, .closing {
    padding: 20px 20px;
  }
  .picture {
    padding: 20px 0px;
  }
  .picture img {
    width: 100%;
    height: 200px;
  }
}
